.imain{
  height:343px;
  width:94%;
  overflow-y:scroll;
  display:flex;
  justify-content: space-around;
  margin-bottom: 10px;
  margin-top:-70px;
  margin-left:-85px;
  box-sizing: border-box;
  padding-right:-40px;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}
a:focus{
  text-decoration: none;
}
body{
  overflow-x: hidden;
  overflow-y: hidden;
}
.countie{
  margin-top: -10px;
  margin-left: -170px;
  max-width: 550px;
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  text-align:left;
  font-size:14px;
  font-weight:700;
  letter-spacing:1px;
}
.countie li{
  list-style:none;
  margin-bottom:px;
  padding-right:20px;
}
.countie li #tomato{
  color:tomato;
  background-color:tomato;
}
.countie li #lightgreen{
  color:lightgreen;
  background-color:lightgreen;
}
.countie li #skyblue{
  color:skyblue;
  background-color: skyblue;
}
.countie li #orange{
  color:orange;
  background-color: orange;
}
.countie li #grey{
  color:grey;
  background-color:grey;
}
.countie li #yellow{
  color: #fff0c7;
  background-color:  #fff0c7;
}

#R1C1,#R1C2,#R1C3,#R1C4,
#R2C1,#R2C2,#R2C3,#R2C4,
#R3C1,#R3C2,#R3C3,#R3C4,
#R4C1,#R4C2,#R4C3,#R4C4,
#R5C1,#R5C2,#R5C3,#R5C4,
#R6C1,#R6C2,#R6C3,#R6C4,
#R7C1,#R7C2,#R7C3,#R7C4,
#R8C1,#R8C2,#R8C3,#R8C4,
#R9C1,#R9C2,#R9C3,#R9C4,
#R10C1,#R10C2,#R10C3,#R10C4,
#R11C1,#R11C2,#R11C3,#R11C4,
#R11C1,#R11C2,#R11C3,#R11C4,
#R12C1,#R12C2,#R12C3,#R12C4{
  box-shadow:4px 4px 1px blue;
}

#R1C5,#R1C6,#R1C7,#R1C8,
#R2C5,#R2C6,#R2C7,#R2C8,
#R3C5,#R3C6,#R3C7,#R3C8,
#R4C5,#R4C6,#R4C7,#R4C8,
#R5C5,#R5C6,#R5C7,#R5C8,
#R6C5,#R6C6,#R6C7,#R6C8,
#R7C5,#R7C6,#R7C7,#R7C8,
#R8C5,#R8C6,#R8C7,#R8C8,
#R9C5,#R9C6,#R9C7,#R9C8,
#R10C5,#R10C6,#R10C7,#R10C8,
#R11C5,#R11C6,#R11C7,#R11C8,
#R12C5,#R12C6,#R12C7,#R12C8{
    box-shadow:4px 4px 1px red;
}

#R1C9,#R1C10,#R1C11,
#R2C9,#R2C10,#R2C11,
#R3C9,#R3C10,#R3C11,
#R4C9,#R4C10,#R4C11,
#R5C9,#R5C10,#R5C11,
#R6C9,#R6C10,#R6C11,
#R7C9,#R7C10,#R7C11,
#R8C9,#R8C10,#R8C11,
#R9C9,#R9C10,#R9C11,
#R10C9,#R10C10,#R10C11,
#R11C9,#R11C10,#R11C11,
#R12C9,#R12C10,#R12C11{
  box-shadow:4px 4px 1px blue;
}

#R1C12,#R1C13,
#R2C12,#R2C13,
#R3C12,#R3C13,
#R4C12,#R4C13,
#R5C12,#R5C13,
#R6C12,#R6C13,
#R7C12,#R7C13,
#R8C12,#R8C13,
#R9C12,#R9C13,
#R10C12,#R10C13,
#R11C12,#R11C13,
#R12C12,#R12C13{
  box-shadow:4px 4px 1px red;
}



#R13C1,#R13C2,#R13C3,#R13C4,
#R14C1,#R14C2,#R14C3,#R14C4,
#R15C1,#R15C2,#R15C3,#R15C4,
#R16C1,#R16C2,#R16C3,#R16C4,
#R17C1,#R17C2,#R17C3,#R17C4,
#R18C1,#R18C2,#R18C3,#R18C4,
#R19C1,#R19C2,#R19C3,#R19C4,
#R20C1,#R20C2,#R20C3,#R20C4,
#R21C1,#R21C2,#R21C3,#R21C4,
#R22C1,#R22C2,#R22C3,#R22C4,
#R23C1,#R23C2,#R23C3,#R23C4,
#R24C1,#R24C2,#R24C3,#R24C4,
#R25C1,#R25C2,#R25C3,#R25C4{
  box-shadow:4px 4px 1px red;

}



#R13C5,#R13C6,#R13C7,#R13C8,
#R14C5,#R14C6,#R14C7,#R14C8,
#R15C5,#R15C6,#R15C7,#R15C8,
#R16C5,#R16C6,#R16C7,#R16C8,
#R17C5,#R17C6,#R17C7,#R17C8,
#R18C5,#R18C6,#R18C7,#R18C8,
#R19C5,#R19C6,#R19C7,#R19C8,
#R20C5,#R20C6,#R20C7,#R20C8,
#R21C5,#R21C6,#R21C7,#R21C8,
#R22C5,#R22C6,#R22C7,#R22C8,
#R23C5,#R23C6,#R23C7,#R23C8,
#R24C5,#R24C6,#R24C7,#R24C8,
#R25C5,#R25C6,#R25C7,#R25C8{
  box-shadow:4px 4px 1px blue;
}
#R13C9,#R13C10,#R13C11,
#R14C9,#R14C10,#R14C11,
#R15C9,#R15C10,#R15C11,
#R16C9,#R16C10,#R16C11,
#R17C9,#R17C10,#R17C11,
#R18C9,#R18C10,#R18C11,
#R19C9,#R19C10,#R19C11,
#R20C9,#R20C10,#R20C11,
#R21C9,#R21C10,#R21C11,
#R22C9,#R22C10,#R22C11,
#R23C9,#R23C10,#R23C11,
#R24C9,#R24C10,#R24C11,
#R25C9,#R25C10,#R25C11{
  box-shadow:4px 4px 1px red;
}

#R13C12,#R13C13,
#R14C12,#R14C13,
#R15C12,#R15C13,
#R16C12,#R16C13,
#R17C12,#R17C13,
#R18C12,#R18C13,
#R19C12,#R19C13,
#R20C12,#R20C13,
#R21C12,#R21C13,
#R22C12,#R22C13,
#R23C12,#R23C13,
#R24C12,#R24C13,
#R25C12,#R25C13{
  box-shadow:4px 4px 1px blue;

}
#R1C1,#R1C2,#R1C3,#R1C4,#R1C5,#R1C6,#R1C7,#R1C8,#R1C9,#R1C10,#R1C11,#R1C12,#R1C13,
#R2C1,#R2C2,#R2C3,#R2C4,#R2C5,#R2C6,#R2C7,#R2C8,#R2C9,#R2C10,#R2C11,#R2C12,#R2C13,
#R3C1,#R3C2,#R3C3,#R3C4,#R3C5,#R3C6,#R3C7,#R3C8,#R3C9,#R3C10,#R3C11,#R3C12,#R3C13,
#R4C1,#R4C2,#R4C3,#R4C4,#R4C5,#R4C6,#R4C7,#R4C8,#R4C9,#R4C10,#R4C11,#R4C12,#R4C13,
#R5C1,#R5C2,#R5C3,#R5C4,#R5C5,#R5C6,#R5C7,#R5C8,#R5C9,#R5C10,#R5C11,#R5C12,#R5C13,
#R6C1,#R6C2,#R6C3,#R6C4,#R6C5,#R6C6,#R6C7,#R6C8,#R6C9,#R6C10,#R6C11,#R6C12,#R6C13,
#R7C1,#R7C2,#R7C3,#R7C4,#R7C5,#R7C6,#R7C7,#R7C8,#R7C9,#R7C10,#R7C11,#R7C12,#R7C13,
#R8C1,#R8C2,#R8C3,#R8C4,#R8C5,#R8C6,#R8C7,#R8C8,#R8C9,#R8C10,#R8C11,#R8C12,#R8C13,
#R9C1,#R9C2,#R9C3,#R9C4,#R9C5,#R9C6,#R9C7,#R9C8,#R9C9,#R9C10,#R9C11,#R9C12,#R9C13,
#R10C1,#R10C2,#R10C3,#R10C4,#R10C5,#R10C6,#R10C7,#R10C8,#R10C9,#R10C10,#R10C11,#R10C12,#R10C13,
#R11C1,#R11C2,#R11C3,#R11C4,#R11C5,#R11C6,#R11C7,#R11C8,#R11C9,#R11C10,#R11C11,#R11C12,#R11C13,
#R12C1,#R12C2,#R12C3,#R12C4,#R12C5,#R12C6,#R12C7,#R12C8,#R12C9,#R12C10,#R12C11,#R12C12,#R12C13,
#R13C1,#R13C2,#R13C3,#R13C4,#R13C5,#R13C6,#R13C7,#R13C8,#R13C9,#R13C10,#R13C11,#R13C12,#R13C13,
#R14C1,#R14C2,#R14C3,#R14C4,#R14C5,#R14C6,#R14C7,#R14C8,#R14C9,#R14C10,#R14C11,#R14C12,#R14C13,
#R15C1,#R15C2,#R15C3,#R15C4,#R15C5,#R15C6,#R15C7,#R15C8,#R15C9,#R15C10,#R15C11,#R15C12,#R15C13,
#R16C1,#R16C2,#R16C3,#R16C4,#R16C5,#R16C6,#R16C7,#R16C8,#R16C9,#R16C10,#R16C11,#R16C12,#R16C13,
#R17C1,#R17C2,#R17C3,#R17C4,#R17C5,#R17C6,#R17C7,#R17C8,#R17C9,#R17C10,#R17C11,#R17C12,#R17C13,
#R18C1,#R18C2,#R18C3,#R18C4,#R18C5,#R18C6,#R18C7,#R18C8,#R18C9,#R18C10,#R18C11,#R18C12,#R18C13,
#R19C1,#R19C2,#R19C3,#R19C4,#R19C5,#R19C6,#R19C7,#R19C8,#R19C9,#R19C10,#R19C11,#R19C12,#R19C13,
#R20C1,#R20C2,#R20C3,#R20C4,#R20C5,#R20C6,#R20C7,#R20C8,#R20C9,#R20C10,#R20C11,#R20C12,#R20C13,
#R21C1,#R21C2,#R21C3,#R21C4,#R21C5,#R21C6,#R21C7,#R21C8,#R21C9,#R21C10,#R21C11,#R21C12,#R21C13,
#R22C1,#R22C2,#R22C3,#R22C4,#R22C5,#R22C6,#R22C7,#R22C8,#R22C9,#R22C10,#R22C11,#R22C12,#R22C13,
#R23C1,#R23C2,#R23C3,#R23C4,#R23C5,#R23C6,#R23C7,#R23C8,#R23C9,#R23C10,#R23C11,#R23C12,#R23C13,
#R24C1,#R24C2,#R24C3,#R24C4,#R24C5,#R24C6,#R24C7,#R24C8,#R24C9,#R24C10,#R24C11,#R24C12,#R24C13,
#R25C1,#R25C2,#R25C3,#R25C4,#R25C5,#R25C6,#R25C7,#R25C8,#R25C9,#R25C10,#R25C11,#R25C12,#R25C13{
  border: 1px solid;
}
.choose-sits {
  text-align: center;
}
.choose-sits .choose-sits__info {
  display: inline-block;
  font-size: 13px;
  margin-bottom: 5px;
}
.choose-sits .choose-sits__info .sits-price {
  position: relative;
  display: inline-block;
  padding: 0 22px;
}
.choose-sits .choose-sits__info .sits-price:before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
}
.choose-sits .choose-sits__info .marker--none:before {
  display: none;
}
.choose-sits .choose-sits__info .sits-state {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}
.choose-sits .choose-sits__info .sits-state:before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
}


.sits {
  position: relative;
  margin-top: 35px;
}
.sits .sits__indecator {
  display: inline-block;
  width: 40px;
  height: 30px;
  margin: 5px;
  border: 1px solid #4c4145;
  font-size: 13px;
  padding-top: 5px;
  margin-left: 50px;
}
.mainsits{
  margin-left: 100px;
  padding-right:-0px;
}
.sits .sits__line {
  width: 30px;
  position: absolute;
  top: -1px;
}
.sits .sits__number {
  margin-top:30px;
}
.sits1 {
  position: relative;
}
.sits1 .sits__indecator {
  display: inline-block;
  width: 40px;
  height: 30px;
  margin: 3px;
  border: 1px solid #4c4145;
  font-size: 13px;
  padding-top: 5px;
}
.sits1 .sits__line {
  width: 30px;
  position: absolute;
  top: -1px;
}
.sits1 .sits__number {
  margin-top: 30px;
  margin-right:100px;
}
.sits .sits__checked {
  position: absolute;
  height:470px;
  font-size:14px;
  width: 100px;
  background-color: #4c4145;
  top: 0;
  right:10%;
  margin-top:4px;
  padding-top: 40px;
}
.sits .sits__checked:before {
  content: "\f00c";
  font: 13px "FontAwesome";
  color: #ffffff;
  position:absolute;
  top: 20px;
  left:43px;
}
.sits .sits__checked:after {
  content: "=";
  font: 13px;
  color: #ffffff;
  position: absolute;
  left:43px;
  bottom: 41px;
}
.sits .sits__checked .checked-place {
  overflow: hidden;
  max-height: 340px;
}
.sits .sits__checked .checked-result {
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  bottom:20px;
  left:32px;
}
.sits .sits__checked .choosen-place {
  display: block;
  color: #ffffff;
  font-size: 10px;
  padding: 8px 0;
}
.sits .sits__row {
  font-size: 0;
  margin-left: 50px;
}
.sits .sits__row .sits__place {
  position: relative;
  margin: 5px;
  width: 40px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  font-size: 11px;

}
.sits .sits__row .sits__place:before {
  content: ' ';
  width: 40px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.sits .sits__row .sits__place:hover {
  text-indent: 0;
  cursor: pointer;
}
.sits .sits__row .sits__place:hover {
  color: #000;
}
.sits .sits__row .sits-state--not:hover {
  cursor: auto;
}
.sits .sits__row .sits-state--not:hover:before {
  background-color: #dbdee1;
}
.sits .sits__row .sits-state--your {
  text-indent: -9999px;
}

.sits .sits__row .sits-state--your:hover {
  text-indent: -9999px;
}
.sits .sits__row .sits-state--your:hover:after {
  content: "\f00d";
  font: 15px "FontAwesome";
  left: 13px;
}
.additional-margin {
  margin-top: 20px;
}
.sits__line .additional-margin {
  margin-top: 25px;
}
.sits-area--mobile {
  text-align: left;
  margin-top: 20px;
}
.sits-area--mobile img {
  max-width: 100%;
}
.sits-area--mobile .sbHolder {
  display: block;
  float: left;
  margin-right: 15px;
  width: 140px;
  height: 35px;
  border: 1px solid #DBDEE1;
  background-color: #fff;
}
.sits-area--mobile .sbHolder .sbSelector {
  margin-top: 4px;
  margin-left: 5px;
  color: #4c4145;
  font-size: 13px;
}
.sits-area--mobile .sbHolder .sbOptions {
  width: 140px;
  top: 37px !important;
  border: none;
  padding: 14px 7px;
  z-index: 23;
  background-color: #4c4145;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}
.sits-area--mobile .sbHolder .sbOptions a {
  color: #b4b1b2;
  border: none;
}
.sits-area--mobile .sbHolder .sbOptions a:hover,
.sits-area--mobile .sbHolder .sbOptions a:focus {
  color: #ffffff;
}
.sits-area--mobile .sbHolder .sbToggle {
  top: 10px;
  right: -2px;
}
.sits-area--mobile .sbHolder .sbToggle:before {
  content: "\f078";
  color: #4c4145;
  font-family: "FontAwesome";
  font-size: 12px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.sits-area--mobile .sbHolder .sbToggleOpen:before {
  content: "\f077";
}
.sits-area--mobile .sits-select {
  margin-bottom: 20px;
}
.sits-area--mobile .watchlist {
  margin-top: 2px;
  display: block;
  margin: 20px 0;
  width: 120px;
}
.sits-area--mobile .sits__checked {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #4c4145;
  margin-top: 0px;
  padding: 0px 50px;
}
.sits-area--mobile .sits__checked:before {
  content: "\f00c";
  font: 13px "FontAwesome";
  color: #ffffff;
  position: absolute;
  top: 18px;
  left: 18px;
}
.sits-area--mobile .sits__checked:after {
  content: "=";
  font: 13px;
  color: #ffffff;
  position: absolute;
  text-align: center;
  bottom: 16px;
  right: 35px;
}
.sits-area--mobile .sits__checked .checked-place {
  overflow: hidden;
}
.sits-area--mobile .sits__checked .checked-result {
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  bottom: 15px;
  text-align: center;
  padding-top: 5px;
}
.sits-area--mobile .sits__checked .choosen-place {
  display: inline-block;
  margin: 0 10px;
  color: #ffffff;
  font-size: 12px;
  padding: 16px 0;
}

.sits-price--cheap:before {
  background-color: #fff0c7;
}
.sits-price--middle:before {
  background-color: #ffc8cb;
}
.sits-price--expensive:before {
  background-color: #cdb4bd;
}
.sits-state--not:before {
  background-color: #dbdee1;
}
.sits-state--your:before {
  background-color: #4c4145;
}

@media (min-width: 768px) and (max-width: 991px) {
  .sits .sits__indecator {
    margin: 1px;
  }
  
}


@media (max-width: 560px) {

  .sits-area--mobile .sbHolder {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  .sits-area--mobile .sbHolder .sbOptions {
    width: 100%;
  }
}
/* ================================================================================ */
@media only screen and (max-width: 2150px) {
  .imain{
    height:460px!important;
    width:74%!important;
    overflow-y:scroll;
    display:flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top:-70px;
    margin-left:65px;
    box-sizing: border-box;
    padding-right:-40px;
  }
  body{
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top:110px!important;
  }
  .sits1 {
    position: relative;
    margin-top: 35px;
    margin-left:160px;
  }
  #submit2{
    margin-top:75px;
  }
}
/* ================================================================================ */
@media only screen and (max-width: 1950px) {
  .imain{
    height:460px!important;
    width:74%!important;
    overflow-y:scroll;
    display:flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top:-70px;
    margin-left:65px;
    box-sizing: border-box;
    padding-right:-40px;
  }
  body{
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top:110px!important;
  }
  .sits1 {
    position: relative;
    margin-top: 35px;
    margin-left:160px;
  }
  #submit2{
    margin-top:75px;
  }
}
/* ================================================================================ */
@media only screen and (max-width: 1750px) {
  .imain{
    height:410px!important;
    width:76%!important;
    overflow-y:scroll;
    display:flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top:-70px;
    margin-left:65px;
    box-sizing: border-box;
    padding-right:-40px;
  }
  body{
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top:110px!important;
  }
  .sits1 {
    position: relative;
    margin-top: 35px;
    margin-left:160px;
  }
  #submit2{
    margin-top:65px;
  }
}
/* ================================================================================ */
@media only screen and (max-width: 1650px) {
  .imain{
    height:410px!important;
    width:74%!important;
    overflow-y:scroll;
    display:flex;
    justify-content: space-around;
    margin-bottom:10px;
    margin-top:-70px;
    margin-left:35px;
    box-sizing: border-box;
    padding-right:-40px;
  }
  body{
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top:110px!important;
  }
  .sits1 {
    position: relative;
    margin-top: 35px;
    margin-left:120px;
  }
  #submit2{
    margin-top:20px;
  }
}
/* ================================================================================ */

@media only screen and (max-width: 1550px) {
  .imain{
    height:410px!important;
    width:79%!important;
    overflow-y:scroll;
    display:flex;
    justify-content: space-around;
    margin-bottom:10px;
    margin-top:-70px;
    margin-left:-15px;
    box-sizing: border-box;
    padding-right:-40px;
  }
  body{
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top:70px!important;
  }
  .sits1 {
    position: relative;
    margin-top: 35px;
    margin-left:65px;
  }
  #submit2{
    margin-top:-40px;
  }

}
/* ================================================================================ */

@media only screen and (max-width: 1450px) {
  .imain{
    height:410px!important;
    width:94%!important;
    overflow-y:scroll;
    display:flex;
    justify-content: space-around;
    margin-bottom:10px;
    margin-top:-70px;
    margin-left:-35px;
    box-sizing: border-box;
    padding-right:-40px;
  }
  body{
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top:70px!important;
  }
  .sits1 {
    position: relative;
    margin-top: 35px;
    margin-left:50px;
  }
  #submit2{
    margin-top:-120px;
  }
}
/* ================================================================================ */

@media only screen and (max-width: 1350px) {
  .imain{
    height:410px!important;
    width:92%!important;
    overflow-y:scroll;
    display:flex;
    justify-content: space-around;
    margin-bottom:10px;
    margin-top:-70px;
    margin-left:-15px;
    box-sizing: border-box;
    padding-right:-40px;
  }
  body{
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top:70px!important;
  }
  .sits1 {
    position: relative;
    margin-top: 35px;
    margin-left:70px;
  }
  #submit2{
    margin-top:-200px;
  }
}
/* ================================================================================ */
@media only screen and (max-width: 1250px) {
  .imain{
    height:410px!important;
    width:100%!important;
    overflow-y:scroll;
    display:flex;
    justify-content: space-around;
    margin-bottom:10px;
    margin-top:-70px;
    margin-left:-65px;
    box-sizing: border-box;
    padding-right:-40px;
  }
  body{
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top:70px!important;
  }
  .sits1 {
    position: relative;
    margin-top: 35px;
    margin-left:20px;
  }
  #submit2{
    margin-top:-290px;
  }
}
/* ================================================================================ */
